<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hrps.aas.web.sys.mapper.SysAccountRoleMapper">
  <resultMap id="BaseResultMap" type="me.hrps.aas.web.sys.domain.SysAccountRoleKey">
    <id column="role_id" jdbcType="CHAR" property="roleId" />
    <id column="account_id" jdbcType="CHAR" property="accountId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    role_id, account_id
  </sql>
  <select id="selectByExample" parameterType="me.hrps.aas.web.sys.domain.SysAccountRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_account_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="me.hrps.aas.web.sys.domain.SysAccountRoleKey">
    delete from sys_account_role
    where role_id = #{roleId,jdbcType=CHAR}
      and account_id = #{accountId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="me.hrps.aas.web.sys.domain.SysAccountRoleExample">
    delete from sys_account_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="me.hrps.aas.web.sys.domain.SysAccountRoleKey">
    insert into sys_account_role (role_id, account_id)
    values (#{roleId,jdbcType=CHAR}, #{accountId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.hrps.aas.web.sys.domain.SysAccountRoleKey">
    insert into sys_account_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="me.hrps.aas.web.sys.domain.SysAccountRoleExample" resultType="java.lang.Long">
    select count(*) from sys_account_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_account_role
    <set>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=CHAR},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_account_role
    set role_id = #{record.roleId,jdbcType=CHAR},
      account_id = #{record.accountId,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>